#root > div > h1{
    margin: auto;
    text-align: center;
    margin-top: 5%;
    color: darkolivegreen;
    font-style: oblique;
    font-size: -webkit-xxx-large;
    
}
h1{
    margin-bottom: 10%;
    margin-top: 10%;
}
#root > div > span{
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 2%;
}
#root > div > div{
    width: 60%;
    margin: auto;
}
.ant-page-header.ant-page-header-ghost{
    width: 90%;
}
.anticon.anticon-unordered-list{
    color: #053305;
    size: ledger;
}
#root > div{
    background-color: beige;
}
html,body{
    background-color: beige;
}

.ant-list  {
    outline: none;
    color: #053305;
}
#root > div > div:nth-child(2) > span{
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
}
#root > div > div:nth-child(2) > span > input{
    width: 100%;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    margin: auto;
    display: block;
    margin-top: 2%;
    margin-bottom: 5%;
}